src/main/mule/batch-processing-lingam-method.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8dd392ab-94ea-46d7-b626-e2bf8968927b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batch-processing-lingam-methodFlow" doc:id="8de39f5c-3056-4aa1-bb81-296ae1969245" >
		<http:listener doc:name="Listener" doc:id="f3a966d0-4220-4601-8d30-140ef893513d" config-ref="HTTP_Listener_config" path="/batch"/>
		<set-payload value='#[[ 1,2,3,"a","b",4,"c",5,6,7,"d","e","f",8 ]]' doc:name='[ 1,2,3,"a","b",4,"c",5,6,7,"d","e","f",8 ]' doc:id="f22ba497-9c64-4640-b165-4936781d5a8c" />
		<batch:job jobName="batch-processing-lingam-methodBatch_Job" doc:id="7ef93f89-6fb4-4590-b2db-f3b43e61b1f9" maxFailedRecords="-1" blockSize="3">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a7c8671d-de11-466c-b31d-4f0e6cb2e89c" acceptExpression='#[payload is String]' acceptPolicy="ALL">
					<set-payload value='#[payload ++ " Genpact"]' doc:name="Set Payload" doc:id="88151e7d-b1a1-4f39-8b03-cd77ed1d2d40" />
					<logger level="INFO" doc:name="Lbatch step process logger" doc:id="53b50130-a115-40f1-a2b4-9c46ce53c5af" message="#[payload]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="3ff34018-5314-44ce-bfdd-10fd45e0eeb5" size="2">
						<logger level="INFO" doc:name="Aggregator Logger" doc:id="1ff70162-23ea-42ed-9490-62eef09ba34f" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="d54b0ee9-19db-4bc1-89ca-5c7e764867b5" acceptExpression="#[payload is Number]" acceptPolicy="ALL">
					<set-payload value="#[payload *3]" doc:name="Set Payload" doc:id="bebb367e-6251-4b6f-8341-fb0739fe6f7a" />
					<logger level="INFO" doc:name="Logger" doc:id="6451b910-fab8-4cac-829e-2f6e44996497" message="#[payload]" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="on complete phase Logger" doc:id="897c9e5f-f2cd-4adf-8d5a-6ce974033517" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
